<div *ngIf="type === 'ERROR'">
    <h2 mat-dialog-title>Error</h2>
    <mat-dialog-content>
        <p *ngIf="message !== 'jwt expired'">
            {{message}}
        </p>
        <p *ngIf="message === 'jwt expired'">
            Your session is Expired, please login again.
        </p>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button class="mat-raised-button" color="primary" (click)="close()">Close</button>
    </mat-dialog-actions>
</div>

<div *ngIf="type === 'SUCCESS'">
    <mat-dialog-content>
        <p>
            {{message}}
        </p>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button class="mat-raised-button" color="primary" (click)="close()">Close</button>
    </mat-dialog-actions>
</div>

<div *ngIf="type === 'CONFIRMATION'">
    <mat-dialog-content>
        <p>
            {{message}}
        </p>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">Yes</button>
        <button mat-raised-button mat-dialog-close tabindex="-1">No</button>
    </mat-dialog-actions>
</div>

<div *ngIf="type === 'EXPORT'">
    <mat-dialog-content>
        <div class="popupContent">
            Report will be generated :
        </div>
        <br />
        <div class="popupConText">
            Click on confirm and continue using the Unicodez bill online. We will email you the export report at :
            <p class="emailStyle"><u>{{email}}</u></p>
        </div>
        <br />
        <br />
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button color="primary" (click)="onConfirmExport()" tabindex="1">Confirm</button>
        <button mat-raised-button mat-dialog-close tabindex="-1">Close</button>
    </mat-dialog-actions>
</div>

<div *ngIf="type === 'IMPORT'">
    <mat-dialog-content>
        <div class="popupContent">
            Import Clients/Vendor/Product & Services (.xls & .xlsx)
        </div>
        <br />
        <div class="popupConText">
            <pre>Follow below Steps :
      1. Download the Excel template to your computer by clicking the Download button.
      2. Integrate your data into the template file, minding the column names.
      3. Click the Import button.
     <br/>
     <b>NOTE :</b> If you do not have data for a particular column, leave it
            empty and do not move or delete the column.
      </pre>
        </div>
        <br />
        <br />
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <span style="width:195px;"><input type="file" #fileInput id="fileUpload" name="fileUpload" multiple="single"></span>
        <button mat-raised-button mat-dialog-close tabindex="-1">Close</button>
        <button mat-raised-button mat-dialog-close tabindex="-1" style="background-color: forestgreen" (click)="downloadSampleReport()">Download Sample Import Sheet</button>
    </mat-dialog-actions>
</div>