<div class="header">
    <img class="logo" src="../../assets/images/Unicodez-fullogo.png" />
    <br />
    <label class="loginLable">Log in to Unicodez Bill Online</label>
</div>
<div id="logreg-forms">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-signin">
        <input formControlName="email" type="email" id="inputEmail" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && loginForm.controls.email.errors }" placeholder="Email*" autofocus>
        <div *ngIf="submitted && loginForm.controls.email.errors" class="invalid-feedback">
            <div *ngIf="loginForm.controls.email.errors.required">Username is required</div>
        </div>
        <br>
        <input formControlName="password" type="password" id="inputPassword" class="form-control"
            placeholder="Password*" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }">
        <div *ngIf="submitted && loginForm.controls.password.errors" class="invalid-feedback">
            <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
        </div>
        <a routerLink="/forgotpassword" id="forgot_pswd">Forgot your password?</a>
        <button class="btn btn-success btn-block" type="submit"> Sign in</button>
      <br/>
      <p style="text-align:center"><b> or Sign in with google</b></p>
      <div class="social-login" (click)="signInWithGoogle()">
        <button class="btn google-btn social-btn" type="button"><span><i style='font-size:1rem'
                                                                         class="fab fa-google-plus-g"></i>&nbsp; Sign in with Google</span> </button>
      </div>
    </form>
</div>
<div class="no-account">
    <label>No Account? </label> <a routerLink="/signup"> SIGN UP</a>
</div>
<div class="footer">
    <a href="/termsAndCondition"> Terms and conditions </a> <span class="seperator">|</span> <a href="/privacyPolicy"> Privacy Policy</a>
</div>
