/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
    overflow-y: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.parentelement {
    position: relative;
    display: block;
}

.parentelement ngx-loading-bar {
    display: block;
}

.parentelement ngx-loading-bar #loading-bar-spinner {
    position: absolute;
    top: 100%;
    left: 1000%;
}

.overlay {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.parentelement ngx-loading-bar #loading-bar .bar {
    position: absolute;
}

.parentelement ngx-loading-bar #loading-bar .bar .peg {
    display: none;
}

* {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: grey;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: grey;
}