<div class="header">
  <img class="logo" src="../../assets/images/Unicodez-fullogo.png" />
  <br />
</div>
<div class="backButton">
  <a routerLink="/login" class="btn btn-danger">
    Back
  </a>
</div>
<div id="logreg-forms">
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="form-forgot">
    <label>Enter You email address below :</label>
    <input formControlName="email" type="email" id="inputEmail" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && forgotForm.controls.email.errors }" placeholder="Email*" autofocus>
    <div *ngIf="submitted && forgotForm.controls.email.errors" class="invalid-feedback">
      <div *ngIf="forgotForm.controls.email.errors.required">Email id is required</div>
    </div>
    <button class="btn btn-success btn-block" type="submit"> Forgot Password</button>
  </form>
</div>
